$header-color: #f8e1db;
$body-color: #faf4f1;
$btn-color: #e76f51;

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: $body-color;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}

// img {
//   width: block;
//   max-width: 100%;
// }

.header {
  background-color: $header-color;
  @include size(max-width, 10rem);
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  & img {
    // margin-left: 5rem;
    // margin-top: 1rem;
    margin-bottom: 1rem;
  }

  //   & .navbar {
  //     // margin-left: 5rem;
  //   }

  /*Nên viết các class nối nhau ít lại*/
  & .navbar-text {
    color: #000000;
    text-decoration: none;
    margin-right: 1rem;

    &:hover {
      color: #ccc;
    }
  }
}

.carousel {
  background-image: url(../img/BG.png);
  height: 60rem;
  //   @include size(max-width, max-height);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0 0 10rem 10rem; /*đi theo chiều kim đồng hồ*/
  //   border-bottom-left-radius: 10rem;
  //   border-bottom-right-radius: 10rem;
  // position: relative;
}

.service {
  padding: 0 0.3rem;
  margin-top: -20rem;

  //   & .service-container {
  //     transform: translateY(-100%);
  //   }
  & .service-item {
    float: left;
    width: 25%; /*Tính theo chứa nó là thẻ cha của nó*/
    // background-color: #ccc;
    // margin-right: auto;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
    padding: 0 2rem;
  }

  & .service-content {
    background-color: #fff;
    // margin: 0 auto;
    border-radius: 2rem; /*Phải viết vào content vì nó chưa background-color mới bo gốc được*/
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 300;

    & img {
      height: 7rem;
    }
  }

  & .clear {
    clear: both;
  }
}

.activity {
  & .activity-title {
    // margin: 0 auto;
    text-align: center;
    margin-top: 8rem;
    font-weight: normal;
    color: rgb(158, 153, 153);
  }

  & .activity-item {
    float: left;
    width: 25%;
    padding: 1.2rem 2rem;
  }

  & .activity-content {
    background-color: #fff;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    /*Padding so với lề của activity-content*/
    padding: 2.5rem;
    line-height: 2rem;
    // opacity: 0.7;

    & img {
      @include size(25rem, 15rem);
      border-radius: 2rem;
    }

    // & .activity-heading {
    //   // text-align: center;
    //   // padding: -10rem;
    // }

    & .activity-btn {
      margin-top: 2rem;
      padding: 1rem 4rem;
      border-radius: 2rem;
      opacity: 0.8;
      border: 2px solid #ccc;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
        background-color: $btn-color;
        color: #fff;
        transition: all 0.2s ease;
      }
    }

    & h1 {
      font-size: 1.3rem;
    }

    & p {
      opacity: 0.7;
    }

    & .activity-heading {
      position: relative;

      & .activity__heart {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: $btn-color;
        @include size(4.2rem);
        background-color: rgba(255, 255, 255, 0.7);
        /*Cho cái line-height: để nó căn giữa quả tim*/
        line-height: 4.2rem;
        border-radius: 1.5rem;
        z-index: 10;

        // &:hover {
        // }
      }
    }
  }

  & .activity-view {
    /*Nên dùng text-align: center cho gọn*/
    text-align: center;
    & h1 {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 200;
      background-color: transparent;
      border-radius: 2rem;
      color: $btn-color;
      border: 1px solid $btn-color;
      padding: 1rem 5rem;

      &:hover {
        background-color: $btn-color;
        cursor: pointer;
        color: #fff;
        transition: all 0.2s ease;
      }
    }
  }

  & .clear {
    clear: both;
  }
}
